<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ offer.itemName }}
      </mat-panel-title>
      <mat-panel-description>
        {{ offer.quantity }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="offer">
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile class="first-cell">
          <div class="first-column">
            <p>Description: </p>
          </div>
      </mat-grid-tile>
        <mat-grid-tile class="second-cell">
          <div class="second-column">
            <p> {{ offer.description }} </p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-divider></mat-divider>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="first-cell">
        <div class="first-column">
          <p>Item name: </p>
          <p>Quantity: </p>
          <p>Unit: </p>
          <p>Email: </p>
          <p>Phone number: </p>
        </div>
    </mat-grid-tile>
      <mat-grid-tile class="second-cell">
        <div class="second-column">
          <p> {{ offer.itemName }} </p>
          <p> {{ offer.quantity }} </p>
          <p *ngIf="offer.unit"> {{ offer.unit | unitPipe }} </p>
          <p> {{ offer.email }} </p>
          <p> {{ offer.phoneNumber }} </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div style="padding-top: 10px">
      <app-remove-button (removed)="remove()" style="float:left"></app-remove-button>
    </div>

  </mat-expansion-panel>
