<h1 mat-dialog-title>Supply order</h1>
<div mat-dialog-content>
    <div *ngFor="let item of data">
        <mat-form-field appearance="fill">
            <mat-label>{{ item.itemName }}</mat-label>
                <input matInput type="number" min="0" [max]="item.initialQuantity - item.providedQuantity"
                    [(ngModel)]="item.quantity">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onYesClick()">Supply</button>
</div>