<h1 mat-dialog-title>Supply order</h1>
<form #form (ngSubmit)="onYesClick()">
<div mat-dialog-content>
    <div *ngFor="let item of data">
        <mat-form-field appearance="fill">
            <mat-label>{{ item.itemName }} quantity</mat-label>
                <input matInput type="number" [min]="1" [max]="item.initialQuantity - item.providedQuantity"
                    [(ngModel)]="item.quantity" name="quantity">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Supply</button>
</div>
</form>