<h1 mat-dialog-title>Supply order</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
    <div *ngFor="let item of data">
        <span style="padding-right: 10px;">{{ item.itemName }}</span>
        <input matInput type="number" min="0" [max]="item.initialQuantity - item.providedQuantity" style="width: 50px;" [(ngModel)]="item.providedQuantity">
    </div>
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onYesClick()">Supply</button>
</div>