<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ orderStatus }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p> {{ order.description }} </p>
  <p> {{ order.address.street }} </p>
  <p> {{ order.address.country }} </p>
  <p> {{ order.address.city }} </p>
  <p> {{ order.address.postalCode }} </p>
  <div style="padding-top: 10px">
    <app-remove-button (removed)="remove()" style="float:left"></app-remove-button>
    <button mat-button style="color: green;" (click)="supply()">
      <mat-icon style="color: black">favorite_border</mat-icon>
      Supply
    </button>
  </div>


</mat-expansion-panel>